@import url('https://fonts.googleapis.com/css?family=Orbitron');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    scroll-behavior: smooth;
}

body
{
    min-height: 100vh;
    overflow-x: hidden;
    background: #03011C;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    z-index: 10000; 
}
header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #03011C;
} 
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#03011C,transparent);
    z-index: 1000;
}
section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#moon
{
    mix-blend-mode: screen;
}
section img#mountains_front
{
    z-index: 10;
}
#text
{
    position: absolute;
    right: -350px;
    color: #fff;
    white-space: nowrap;
    font-size: 2.5em;
    z-index: 9;
}
#btn
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #03011C;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}
.testnowp
{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.testnow
{
    width: 450px;
    overflow: hidden;
    padding: 28px;
    border-radius: 8px;
}

    /* display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 40vh;
    color: #fff;
    background: #0C0237;
    position: relative;
    margin: 0 auto;
    width: 550px;
    max-width: 100%;
    padding: 28px;
    border-radius: 40px;
} */
.testnow .pass-field
{
    height: 65px;
    width: 100%;
    position: relative;
    color: #fff;
}
.pass-field input
{
    width: 100%;
    height: 100%;
    padding: 0 17px;
    outline: none;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 1px solid #fff;
    background: #03011C;
}
.pass-field input:focus
{
    padding: 0 16px;
    border: 2px solid #fff;
}
.pass-field i
{
    right: 18px;
    top: 50%;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    position: absolute;
    transform: translateY(-50%);
}
.testnow .content
{
    margin: 20px 0 10px;
}
.content p
{
    font-size: 1.5rem;
    color: #fff;
}
.content .requirement-list
{
    margin-top: 20px;
}
.requirement-list li
{
    list-style: none;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: #fff;
}
.requirement-list li i
{
    font-size: 1rem;
    color: #aaa;
    width: 20px;
}
.requirement-list li.valid i
{
    font-size: 1.3rem;
    color: #00B512;
}
.requirement-list li span
{
    margin-left: 12px;
}
.requirement-list li.valid span
{
    color: #00B512;
}
.sec
{
    position: relative;
    padding: 100px;
    background: #03011C;
}
.sec h2
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}
.sec p
{
    font-size: 1em;
    color: #fff;
}
.passgen
{
    flex-direction: column;
    color: #fff;
    width: 450px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}
.passgen h2
{
    font-weight: 600;
    font-size: 1.31rem;
    padding: 1rem 1.75rem;
}
.passgenwrapper
{ 
    margin: 1.25rem 1.75rem;
}
.passgenwrapper .passgeninputbox
{
    position: relative;
}
.passgeninputbox input
{
    width: 100%;
    height: 53px;
    color: #fff;
    background: none;
    font-size: 1.06rem;
    font-weight: 500;
    border-radius: 4px;
    letter-spacing: 1.4px;
    border: 1px solid #aaa;
    padding: 0 2.85rem 0.1rem;
}
.passgeninputbox span
{
    position: absolute;
    right: 13px;
    cursor: pointer;
    line-height: 53px;
    color: #fff;
}
.passgeninputbox span:hover
{
    color: #4285F4;
}
.passgenwrapper .passgenindicator
{
    width: 100%;
    height: 4px;
    position: relative;
    background: #fff;
    margin-top: 0.75rem;
    border-radius: 25px;
}
.passgenindicator::before
{
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    border-radius: inherit;
    transition: width 0.3s ease;
}
.passgenindicator#weak::before
{
    width: 20%;
    background: red;
}
.passgenindicator#medium::before
{
    width: 50%;
    background: yellow;
}
.passgenindicator#strong::before
{
    width: 100%;
    background: green;
}
.passgenwrapper .passgenlength
{
    margin: 1.56rem 0 1.25rem;
}
.passgenlength .passgendetails
{
    display: flex;
    justify-content: space-between;
}
.passgenlength input
{
    width: 100%;
    height: 5px;
    color: #fff;
}
.passgensettings .passgenoptions
{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin-top: 1rem;
}
.passgensettings .passgenoptions .passgenoption
{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    width: calc(100% /2);
}
.passgenoptions .passgenoption:first-child
{
    pointer-events: none;
}
.passgenoptions .passgenoption label
{
    cursor: pointer;
    color: #fff;
    padding-left: 0.8rem;
}
.passgenwrapper .passgenbtn
{
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    background: #0C0237;
    font-size: 1.06rem;
    padding: 0.94rem 0;
    border-radius: 5px;
    text-transform: uppercase;
    margin: 0.94rem 0 1.3rem;
}